/* NAVBAR */
.navbar {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.brand,
.list_item {
  color: black;
  margin-right: 5px;
  text-decoration: none; /* Alt çizgiyi kaldırmak için */
}

.list_item:hover {
  color: gray;
}

/*SLİDER*/
.carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slider-image {
  object-fit: cover; /* Ya da contain kullanarak farklı bir boyutlandırma seçeneği seçebilirsiniz */
  height: 90vh; /* Sayfa yüksekliği kadar yaparak ekranın tamamını kullanabilirsiniz */
  width: 100%;
}
/*SLİDER*/

.btn {
  border: none;
  border-radius: 10px;
}

p {
  font-size: 14px;
  color: #262626;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading {
  color: rgb(204, 18, 18);
  font-size: 26px;
}

.underline {
  height: 4px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #f2f2f2;
}

.footer a {
  color: #fff;
  text-decoration: none !important;
}

.footer a:hover {
  color: gray;
  text-decoration: none !important;
}
.customerArea {
  background: rgb(48, 215, 134);
  background: linear-gradient(
    0deg,
    rgba(48, 215, 134, 1) 0%,
    rgba(48, 215, 134, 1) 19%,
    rgba(42, 219, 128, 1) 40%,
    rgba(73, 196, 199, 1) 64%,
    rgba(16, 166, 198, 1) 82%,
    rgba(16, 153, 161, 1) 100%
  );
}
.customerCount {
  font-size: 5rem;
  color: #fff; /* Sayı rengi */
  margin-top: 10px;
}
.customerText {
  font-size: 1.5rem;
  color: #ecf0f1; /* Metin rengi */
  margin-top: -10px;
}
.customer-icon {
  font-size: 4rem;
  color: #fff; /* İkon rengi */
}

/* ABOUT */
