/***** NAVBAR*****/
.navbar {
  background-color: #f2f2f2;
  position: fixed !important;
  z-index: 2000 !important;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar .brand {
  font-size: 25px;
  font-family: "Roboto Slab", serif;
}

.list_item {
  color: black;
  margin-right: 15px;
  font-family: "Montez", cursive;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.list_item:hover {
  color: gray;
}

.icon {
  color: #262626;
  margin-right: 10px;
  margin-left: 10p;
  font-size: small;
}

.icon:hover {
  color: gray;
}

.socialMedia {
  margin-right: 60px;
}

/* NAVBAR */

/* HORİZONTAL CARD */

.icon:hover {
  color: gray;
}

.navbar .btn-success {
  margin-left: 5px;
}

/***** NAVBAR*****/

/***** HORİZONTAL CARD *****/

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: none;
}

.horizontalCard {
  /* border-radius: px; */
  padding: 5px;
  object-fit: cover;
  margin: auto;
  align-items: center;
  display: flex;
}

.horizontalCard img {
  object-fit: contain;
  align-items: center;
}

.horizontalCard img {
  object-fit: contain;
  align-items: center;
}

/* HORİZONTAL CARD */

/*SLİDER*/
.sliderDesign {
  margin-top: 70px;
}

.carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slider-image {
  object-fit: cover; /* Ya da contain kullanarak farklı bir boyutlandırma seçeneği seçebilirsiniz */
  height: 60vh; /* Sayfa yüksekliği kadar yaparak ekranın tamamını kullanabilirsiniz */
  width: 100%;
}
/*SLİDER*/

.btn {
  border: none;
  border-radius: 10px;
}

p {
  font-size: 14px;
  color: #262626;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading {
  color: rgb(204, 18, 18);
  font-size: 26px;
}

.underline {
  height: 4px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #f2f2f2;
}

.footer a {
  color: #fff;
  text-decoration: none !important;
}

.footer a:hover {
  color: gray;
  text-decoration: none !important;
}

/*DATE*/

.today p {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(174, 43, 43);
  font-weight: 600;

  font-size: 25px;
  font-family: "Roboto Slab", serif;
}

/*DATE*/

/* COUNTER */

/* .customerArea {
  background: rgb(15, 17, 16);
} */
.customerCount {
  font-size: 7rem;
  color: black; /* Sayı rengi */
  margin-top: 10px;
}
.customerText {
  font-size: 1.5rem;
  color: black;
  margin-top: -10px;
}
.customer-icon {
  font-size: 4rem;
  color: black; /* İkon rengi */
}

/* COUNTER */

/* ABOUT */

.aboutSigma {
  margin-top: 150px; /* Navbar ve about kısmı arasındaki mesafe */
}
/* CONTACT*/
.phoneIcon {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 25px;
}

.contactUs {
  justify-content: center;
  text-align: center;
  font-size: 25px;
  padding-top: 35px;
  font-weight: 600;
  color: rgb(204, 18, 18);
  margin-top: 60px;
}

/* CONTACT*/

/* CONTACT*/
.contactUs {
  text-align: center;
  font-size: 20px;
  padding-top: 35px;
  font-weight: 600;
  color: rgb(204, 18, 18);
}

/* CONTACT*/
